{
	"swagger": "2.0",
	"info": {
		"description":	"This is a Public Webservice API for the Real Authenitcation platform.\n",
		"version":		"1.0.0",
		"title":		"RealAuth",
		"contact":		{ "name": "Mike Ho", "email": "mike@barefootsolutions.com" }
	},
	"host":			"api.realauthentication.com",
	"basePath":		"/",
	"schemes":		["http", "https"],
	"consumes":		["application/json"],
	"produces":		["application/json", "text/html", "text/plain"],


	"paths": {

		"/order/create": {
			"post": {
				"tags": ["order"],
				"summary": "Creates a New Order",
				"operationId": "OrderApi::create",
				"parameters": [{
					"in": "body",
					"name": "request",
					"description": "the request",
					"required": true,
					"schema": {
						"$ref": "#/definitions/OrderCreateRequest"
					}
				}],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"$ref": "#/definitions/Order"
						}
					},
					"400": {"description": "cannot create"},
					"401": {"description": "unauthorized, the API credentials are not valid"}
				},
				"security": [{"apiToken": []}]
			}
		},

		"/order/resubmit": {
			"post": {
				"tags": ["order"],
				"summary": "Resubmits an Existing Order",
				"operationId": "OrderApi::resubmit",
				"parameters": [{
					"in": "body",
					"name": "request",
					"description": "the request",
					"required": true,
					"schema": {
						"$ref": "#/definitions/OrderResubmitRequest"
					}
				}],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"$ref": "#/definitions/Order"
						}
					},
					"400": {"description": "cannot resubmit"},
					"401": {"description": "unauthorized, the API credentials are not valid"},
					"404": {"description": "order not found"}
				},
				"security": [{"apiToken": []}]
			}
		},

		"/order/{id}": {
			"get": {
				"tags": ["order"],
				"summary": "Gets the current information for the specified Order",
				"operationId": "OrderApi::get",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "the Order Id",
					"required": true,
					"type": "integer"
				}],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"$ref": "#/definitions/Order"
						}
					},
					"401": {"description": "unauthorized, the API credentials are not valid"},
					"404": {"description": "order not found"}
				},
				"security": [{"apiToken": []}]
			}
		},



		"/order_image/upload": {
			"post": {
				"tags": ["order_image"],
				"summary": "Uploads a File Asset for User's Profile image",
				"operationId": "OrderImageApi::upload",
				"parameters": [
					{"in":"formData", "name":"fileAsset", "description":"file to upload", "required": true, "type":"file"},
					{"in":"formData", "name":"orderId", "description":"order Id to upload the image for", "required": true, "type":"integer"},
					{"in":"formData", "name":"categoryImageId", "description":"the Category Image Id that this uploaded image is associated with", "required": true, "type":"integer"}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"$ref": "#/definitions/OrderImage"
						}
					},
					"401": {"description": "unauthorized, the API credentials are not valid"},
					"404": {"description": "order not found or categoryImageId doesn't match the order's category"}
				},
				"security": [{"apiToken": []}]
			}
		},

		"/order_image/get_category_images/{category_id}": {
			"get": {
				"tags": ["order_image"],
				"summary": "Gets all the Category Images for a given categoryId",
				"operationId": "OrderImageApi::getCategoryImages",
				"parameters": [
					{
						"in": "path",
						"name": "category_id",
						"description": "the CategoryId that we are looking up",
						"required": true,
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/CategoryImage"
							}
						}
					},
					"401": {"description": "unauthorized, the API credentials are not valid"},
					"404": {"description": "categoryId not found"}
				},
				"security": [{"apiToken": []}]
			}
		},

		"/order/get_brands": {
			"get": {
				"tags": ["order"],
				"summary": "Gets all the Brands that an order can be in",
				"operationId": "OrderApi::getBrands",
				"parameters": [],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/Brand"
							}
						}
					},
					"401": {"description": "unauthorized, the API credentials are not valid"}
				},
				"security": [{"apiToken": []}]
			}
		},

		"/order/get_categories": {
			"get": {
				"tags": ["order"],
				"summary": "Gets all the Categories that an order can be in",
				"operationId": "OrderApi::getCategories",
				"parameters": [],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/Category"
							}
						}
					},
					"401": {"description": "unauthorized, the API credentials are not valid"}
				},
				"security": [{"apiToken": []}]
			}
		}
	},



	"securityDefinitions": {
		"apiToken": {
			"type": "basic"
		}
	},



	"definitions": {
		"OrderCreateRequest": {
			"type":		"object",
			"properties": {
				"title":					    {"type": "string"},
				"brandId":			      {"type": "integer", "format": "int64"},
				"categoryId":			    {"type": "integer", "format": "int64"},
				"documentationName":	{"type": "string"},
				"note":	              {"type": "string"},
				"serialNumber":	      {"type": "string"},
				"sku":	              {"type": "string"}
			}
		},
		"OrderResubmitRequest": {
			"type":		"object",
			"properties": {
				"id":			    		    {"type": "integer", "format": "int64"}
			}
		},

		"Order": {
			"type":		"object",
			"properties": {
				"id":			    		    {"type": "integer", "format": "int64"},
				"title":					    {"type": "string"},
				"status":			        {"type": "string", "enum": ["A", "B", "C", "D"]},
				"brand":	            {"$ref": "#/definitions/Brand"},
				"category":	          {"$ref": "#/definitions/Category"},
				"documentationName":	{"type": "string"},
				"note":	              {"type": "string"},
				"serialNumber":	      {"type": "string"},
				"sku":	              {"type": "string"},
				"dateCreated":        {"type": "string", "format": "date-time"},
				"dateSubmitted":      {"type": "string", "format": "date-time"},
				"dateUpdated":        {"type": "string", "format": "date-time"},
				"messages":	      		{"type": "array", "items": { "$ref": "#/definitions/OrderMessage" } },
				"orderImages":	      {"type": "array", "items": { "$ref": "#/definitions/OrderImage" } }
			}
		},
		"OrderMessage": {
			"type":		"object",
			"properties": {
				"id":					    {"type": "integer", "format": "int64"},
				"message":		    {"type": "string"},
				"image":	        {"$ref": "#/definitions/Image"},
				"dateCreated":    {"type": "string", "format": "date-time"},
				"dateUpdated":    {"type": "string", "format": "date-time"}
			}
		},
		"OrderImage": {
			"type":		"object",
			"properties": {
				"categoryImage":	{"$ref": "#/definitions/CategoryImage"},
				"image":	        {"$ref": "#/definitions/Image"},
				"dateCreated":    {"type": "string", "format": "date-time"},
				"dateUpdated":    {"type": "string", "format": "date-time"}
			}
		},

		"Image": {
			"type":		"object",
			"properties": {
				"downloadUrl":    {"type": "string"},
				"filename":       {"type": "string"},
				"dateCreated":    {"type": "string", "format": "date-time"},
				"dateUpdated":    {"type": "string", "format": "date-time"}
			}
		},

		"Brand": {
			"type":		"object",
			"properties": {
				"id":					{"type": "integer", "format": "int64"},
				"name":       {"type": "string"}
			}
		},
		"Category": {
			"type":		"object",
			"properties": {
				"id":					{"type": "integer", "format": "int64"},
				"name":       {"type": "string"}
			}
		},
		"CategoryImage": {
			"type":		"object",
			"properties": {
				"id":					{"type": "integer", "format": "int64"},
				"name":       {"type": "string"}
			}
		}
	}
}
